.catalonia-container{
    margin: 4rem 6rem;
    text-align: start;
}

.catalonia-container h1{
    padding-bottom: 1rem;
}

.catalonia-container p{
    padding-bottom: 2rem;
}

@media screen and (max-width: 850px){
    .catalonia-container{
        margin: 4rem 2rem;
    }
}
