.city{
    margin: 4rem, 6rem;
    color: #282828;
}

.city h1{
    font-size: 3rem;
}

.citycard{
    margin: 4rem 6rem;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    gap: 50px;
    justify-content: space-between;
}

.search-container {
    display: flex;
    justify-content: center;
    position: relative;
    width: 45%;
    margin: 2rem auto;
}

.search-input {
    padding-right: 30px;
    padding: 0.5rem;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    border: 1px solid #ccc;
    border-radius: 5px;
}

.clear-search {
    position: absolute;
    right:10px;
    top: 10%;
    transform: translateY(-10%);
    cursor: pointer;
}


.c-card{
    text-align: start;
    box-shadow: 0 5px 25px 2px rgba(0, 0, 0, 0.11);
    border-radius: 7px;
    cursor: pointer;
    padding: 2.9rem .8rem;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    float: left;
}

.c-card:hover {
    box-shadow: 0 10px 30px 2px rgba(0, 0, 0, 0.15);
    transform: translateY(-5px);
}

.c-card h4 {
    font-size: 1.5rem;
    padding: 0.9rem 0 0.2rem;
}

.c-card p{
    padding: 1em;
}

.c-image{
    height: 200px;
    overflow: hidden;
    border-radius: 7px;
}

.c-image img{
    height: 200px;
    overflow: hidden;
    border-radius: 7px;
    transition: transform 0.3s ease;
}

.c-image:hover img{
    transform: scale(1.3);
}

.t-card h4{
    font-size: 1.3rem;
    padding: .9rem 0 .2rem 0;
}

@media screen and (max-width:850px) {
    .city{
        margin: 4rem 2rem;
    }

    .citycard{
        flex-direction: column;
    }

    .c-card{
        width: 100%;
        margin-bottom: 1.5rem;
    }

    .search-container {
        width: 80%;
    }
}