.destination {
    margin: 4rem 6rem;
}

.destination h1 {
    font-size: 3rem;
}

.first-des, .first-des-reverse {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4.5rem;
}

.first-des-reverse {
    flex-direction: row-reverse;
}

/* Align only the h2 to the right in the reversed layout */
.first-des-reverse .des-text h2 {
    text-align: center;
}

.des-text {
    width: 50%;
    text-align: start;
    font-size: 1.1rem;
}

p {
    font-size: 1.1rem;
}

.des-text h2, .des-header-link h2 {
    padding-bottom: 1rem;
    text-align: center;
    text-decoration: none; /* Remove underline from header links */
}

.image {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: space-between;
    z-index: -99;
}

.image-link {
    width: 48%; /* Adjusted width for spacing */
    margin-right: 3%; /* Added margin for space between images */
    display: inline-block;
    text-decoration: none; /* Remove default link underlines */
    transition: transform 0.3s ease; /* Smooth transition for hover effect */
}

.image-link:last-child {
    margin-right: 0; /* Ensure the last image link doesn't have a right margin */
}

.styled-img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: -1px 1px 62px -18px rgba(0, 0, 0, 0.19);
    transition: transform 0.3s ease; /* Smooth transition for the hover effect */
}

.image-link:hover .styled-img {
    transform: scale(1.05); /* Slightly scale up on hover */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Enhanced shadow for visibility */
}

@media screen and (max-width: 850px) {
    .destination {
        margin: 4rem 2rem;
    }

    .first-des, .first-des-reverse {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 2.5rem;
    }

    .first-des-reverse {
        margin-top: 4.5rem;
    }

    .des-text {
        width: 100%;
    }

    .image {
        width: 100%;
        margin: 1.8rem 0;
    }

    .image-link {
        width: 100%; /* Full width in mobile view */
        margin-right: 0; /* Reset margin in mobile view */
    }

    .styled-img {
        height: 250px;
    }
}
