.destination {
    margin: 4rem 6rem;
}

.des-header-link a {
    display: block; 
}

.des-header-link a, .des-header-link a h2 {
    text-decoration: none ; 
}


.destination h1 {
    font-size: 3rem;
}

.first-des .des-text h2 {
    color: #282828;
    text-decoration: none;
    transition: color 0.2s ease, transform 0.3s ease;
}

.first-des .des-text h2:hover {
    color: #00b336; 
    transform: scale(1.1);
}

.first-des-reverse .des-text h2 {
    color: #282828;
    text-decoration: none;
    transition: color 0.2s ease, transform 0.3s ease;
}

.first-des-reverse .des-text h2:hover {
    color: #00b336; 
    transform: scale(1.1);
}

.first-des, .first-des-reverse {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4.5rem;
}

.first-des-reverse {
    flex-direction: row-reverse;
}

.first-des-reverse .des-text h2 {
    text-align: center;
    text-decoration: none;
}

.des-text {
    width: 50%;
    text-align: start;
    font-size: 1.1rem;
}

p {
    font-size: 1.1rem;
}

.des-text h2, .des-header-link h2 {
    padding-bottom: 1rem;
    text-align: center;
    text-decoration: none; 
}

.image {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: space-between;
    z-index: -99;
}

.image-link {
    width: 48%; 
    margin-right: 3%;
    display: inline-block;
    text-decoration: none; 
    transition: transform 0.3s ease; 
}

.image-link:last-child {
    margin-right: 0; 
}

.styled-img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: -1px 1px 62px -18px rgba(0, 0, 0, 0.19);
    transition: transform 0.3s ease; 
}

.image-link:hover .styled-img {
    transform: scale(1.05); 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); 
}

@media screen and (max-width: 850px) {
    .destination {
        margin: 4rem 2rem;
    }

    .first-des, .first-des-reverse {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 2.5rem;
    }

    .first-des-reverse {
        margin-top: 4.5rem;
    }

    .des-text {
        width: 100%;
    }

    .image {
        width: 100%;
        margin: 1.8rem 0;
    }

    .image-link {
        width: 100%; 
        margin-right: 0; 
    }

    .styled-img {
        height: 250px;
    }
}
