.footer{
    padding: 3rem 3rem;
    background: #282828;
    color: #F8F7F4;
}

.top{
    display:flex;
    align-items: center;
    text-align: start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.top i{
    color: #F8F7F4;
    font-size: 2rem;
    margin-left: 1rem;
}

.top i:hover{
    color: #00b336;
    font-size: 2rem;
    margin-left: 1rem;
    transition: all 0.2s ease-in-out;
}

.top p{
    color: #F8F7F4;
    margin-left: 1rem;
}