.recommend-container {
    margin: 4rem 6rem;
    text-align: start;
}

.recommend-container h1 {
    padding-bottom: 1rem;
    text-align: center; 
}

.recommend-container h2 {
    margin-top: 2em; 
    margin-bottom: 0.7em; 
}


.recommend-container p {
    padding-bottom: 0.5rem;
}

.bubble-select {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-bottom: 2rem;
    padding-top: 0.7rem;
}

.button-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    padding: 0 2rem; 
}

.recc-submit {
    font-size: 1.5em; 
    margin-top: 30px;
    padding: 16px 32px;
    background-color: #d9d8d8;
    color: #282828;
}

.recc-submit:hover {
    background-color: #00b336;
    color: #F8F7F4;
}

.rounded-button {
    min-width: calc((100% / 6) - 10px); 
    margin: 5px; 
    padding: 8px 16px;
}


.not-selected {
    background-color: #d9d8d8;
    color: #282828;
}

.selected {
    background-color: #282828;
    color: #F8F7F4;
}

.city-recommendations {
    margin-top: 7rem; 
    margin-bottom: 4rem; 
}

.city-recommendations-list {
    margin: 4rem 6rem;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: auto auto; 
    gap: 50px;
    justify-content: space-between;
}

.recommend-container p {
    text-align: center;
}

.star-button {
    background-color: #d9d8d8;
    color: #282828;
    border: none;
    margin: 1em;
    cursor: pointer;
  }

  .star-button:hover {
    background-color: #00b336;
    color: #F8F7F4;
  }

  .star-button.starred {
    background-color: #00b336;
    color: #F8F7F4;
  }

  .star-button:hover, .star-button.starred {
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
  }

  @media screen and (max-width: 850px) {
    .recommend-container {
        margin: 4rem 2rem;
    }

    .rounded-button {
        min-width: calc((100% / 4) - 10px); 
        margin: 5px;
        padding: 8px 16px;
    }

    .star-button {
        margin: 1em; 
        padding: 8px 16px; 
    }

    .rounded-button, .star-button, .recc-submit {
        display: inline-block !important; 
        visibility: visible !important; 
    }

    .button-group, .bubble-select {
        padding: 0 1rem; 
    }

    .city-recommendations-list {
        grid-template-columns: repeat(1, 1fr); 
        margin: 4rem 2rem;
    }
}
