.zurich-container{
    margin: 4rem 6rem;
    text-align: start;
}

.zurich-container h1, h2, h3{
    padding-bottom: 1rem;
    text-align: center;
}

.zurich-container p{
    padding-bottom: 2rem;
    text-align: center;
}

@media screen and (max-width: 850px){
    .zurich-container{
        margin: 4rem 2rem;
    }
}
